.login {
    display: grid;
    background-color: rgb(231, 222, 222);
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.login_page {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poiret One', cursive;
}

.login_body {
    margin-top: 20px;
    padding: 50px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: -1px 4px 20px 0px rgba(100, 84, 84, 0.7);
    background-color: rgb(245, 244, 243);
    border-radius: 20px;

}

.login_header {
    font-size: 60px;
}

p {
    padding-bottom: -15px;
}

.login_body_input {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login_input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: rgb(245, 244, 243);
}

.login_buttom {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#notregistered {
    margin-top: 25px;
}

.btn-outline-secondary {
    color: rgb(52, 94, 94);
    border-color: rgb(52, 94, 94);
}

#forRegister {
    font-weight: bold;
    font-size: 15pt;
    color: #7c7c7c;
}